<%- include("../partials/header") %>



<div class="container">
	<header class="jumbotron">
		<div>
			<h1>YelpCamp </h1>
			<p>Best Camps Around the World!</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/camps/new">Add New Camps!</a>
			</p>
		</div>
	</header>
	
	

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">

			<% campgrounds.forEach(function(campgrounds){ %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="<%= campgrounds.image %>" >
						<div class="caption">
							<%= campgrounds.name %> <br>
						</div>
						<a class="btn btn-primary" href="camps/<%= campgrounds._id %>">More Info</a>
					</div>
				</div>
			<%	}) %>
	
	</div>



<%- include("../partials/footer") %>